In [3]:
import pandas as pd
import pyodbc
import base64
from PIL import Image

In [4]:
server = ''
database = 'Clubdb1'

cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server}; \
                       SERVER=' + server +'; \
                       DATABASE=' + database +';\
                       Trusted_Connection=yes;')

cursor =cnxn.cursor()

In [10]:
# Create events table
create_events_table = '''
CREATE TABLE Events (
    Event_Id VARCHAR(20) NOT NULL PRIMARY KEY,
    Club_Id VARCHAR(20) NOT NULL,
    Event_Name VARCHAR(100),
    Event_Picture NVARCHAR(MAX),
    Event_Type VARCHAR(20),
    Event_Day VARCHAR(10),
    Event_Date DATE,
    Event_Start_Time TIME,
    Event_End_Time TIME,
    Event_Venue VARCHAR(50),
    Event_Mail VARCHAR(100),  -- Adjust the length as needed
    Event_Phone_No VARCHAR(15),
    Event_Budget FLOAT,
    Event_Ticket VARCHAR(5),
    Event_url NVARCHAR(MAX),
    Event_Status VARCHAR(255),  -- Add Event_Status column
    Event_Details NVARCHAR(MAX)  -- Add Event_Details column
);'''

# Create clubs table
create_clubs_table = '''
CREATE TABLE Clubs (
    Club_Id VARCHAR(20) NOT NULL PRIMARY KEY,
    Club_Name VARCHAR(50) NOT NULL,
    Club_Type VARCHAR(15),
    Club_Picture NVARCHAR(MAX),
    Club_Faculty_Cordinator_Name VARCHAR(30),
    Club_Mail VARCHAR(20),
    Club_Activity VARCHAR(20),
    Club_Total_Events INT,
    Club_Details NVARCHAR(MAX),
    Club_Photos_Viwer NVARCHAR(MAX)
);'''

# Create user student table
create_user_student_table = '''
CREATE TABLE User_Student (
    User_Student_Name VARCHAR(30) NOT NULL,
    User_Student_Id VARCHAR(15) NOT NULL PRIMARY KEY,
    User_Student_Type VARCHAR(30),
    User_Student_Club_Id VARCHAR(20),
    FOREIGN KEY (User_Student_Club_Id) REFERENCES Clubs(Club_Id)
);'''

# Create user faculty table
create_user_faculty_table = '''
CREATE TABLE User_Faculty (
    User_Faculty_Name VARCHAR(30) NOT NULL,
    User_Faculty_Id VARCHAR(15) NOT NULL PRIMARY KEY,
    User_Faculty_Type VARCHAR(30),
    User_Faculty_Club_Id VARCHAR(20),
    FOREIGN KEY (User_Faculty_Club_Id) REFERENCES Clubs(Club_Id)
);'''

# Create user student welfare table
create_user_student_welfare_table = '''
CREATE TABLE User_Student_Welfare (
    User_Student_Welfare_Name VARCHAR(30) NOT NULL,
    User_Student_Welfare_Id VARCHAR(15) NOT NULL PRIMARY KEY,
    User_Student_Welfare_Type VARCHAR(30),
    User_Student_Welfare_Club_Id VARCHAR(20),
    User_Student_Welfare_Office VARCHAR(MAX)  -- Add User_Student_Welfare_Office column
);'''

In [11]:
# Switch to the new database
cursor.execute("USE Clubdb1;")

# # Create the tables
cursor.execute(create_events_table)
cursor.execute(create_clubs_table)
cursor.execute(create_user_student_table)
cursor.execute(create_user_faculty_table)
cursor.execute(create_user_student_welfare_table)

# # Commit the changes
cnxn.commit()

In [5]:
# Drop all tables in the database
drop_User_Student_Welfare = '''
IF OBJECT_ID('User_Student_Welfare', 'U') IS NOT NULL
    DROP TABLE User_Student_Welfare;
'''
cursor.execute(drop_User_Student_Welfare)
cnxn.commit()
# cursor.close()
# cnxn.close()

In [6]:
# Drop all tables in the database
drop_User_Faculty = '''
IF OBJECT_ID('User_Faculty', 'U') IS NOT NULL
    DROP TABLE User_Faculty;
'''
cursor.execute(drop_User_Faculty)
cnxn.commit()

In [7]:
# Drop all tables in the database
drop_User_Student = '''
IF OBJECT_ID('User_Student', 'U') IS NOT NULL
    DROP TABLE User_Student;
'''
cursor.execute(drop_User_Student)
cnxn.commit()

In [8]:
# Drop all tables in the database
drop_Clubs = '''
IF OBJECT_ID('Clubs', 'U') IS NOT NULL
    DROP TABLE Clubs;
'''
cursor.execute(drop_Clubs)
cnxn.commit()

In [9]:
# Drop all tables in the database
drop_Events = '''
IF OBJECT_ID('Events', 'U') IS NOT NULL
    DROP TABLE Events;
'''
cursor.execute(drop_Events)
cnxn.commit()

In [ ]:
# # select all records from the Events table
# cursor.execute("SELECT Event_Id, Event_Picture FROM Events")

# # iterate over all records in the Events table
# for row in cursor.fetchall():
#     # get the image data from the row
#     image_data = row[1]
    
#     # decode the image data from base64
#     decoded_image = base64.b64decode(image_data)
    
#     # open the decoded image using Pillow
#     image = Image.open(io.BytesIO(decoded_image))
    
#     # resize the image if needed
#     image = image.resize((500, 500), Image.ANTIALIAS)
    
#     # encode the resized image as base64
#     encoded_image = base64.b64encode(image.tobytes()).decode('utf-8')
    
#     # update the record in the database with the encoded image data
#     cursor.execute("UPDATE Events SET Event_Picture = ? WHERE Event_Id = ?", (encoded_image, row[0]))
    
# # select all records from the Clubs table
# cursor.execute("SELECT Club_Id, Club_Picture FROM Clubs")

# # iterate over all records in the Clubs table
# for row in cursor.fetchall():
#     # get the image data from the row
#     image_data = row[1]
    
#     # decode the image data from base64
#     decoded_image = base64.b64decode(image_data)
    
#     # open the decoded image using Pillow
#     image = Image.open(io.BytesIO(decoded_image))
    
#     # resize the image if needed
#     image = image.resize((500, 500), Image.ANTIALIAS)
    
#     # encode the resized image as base64
#     encoded_image = base64.b64encode(image.tobytes()).decode('utf-8')
    
#     # update the record in the database with the encoded image data
#     cursor.execute("UPDATE Clubs SET Club_Picture = ? WHERE Club_Id = ?", (encoded_image, row[0]))
    
# # commit the changes to the database
# cnxn.commit()

# # close the database connection
# cnxn.close()

In [1]:
# # Open the image file and read its contents in binary mode
# with open("image.jpg", "rb") as f:
#     image_data = f.read()

# # Encode the binary data as base64
# base64_data = base64.b64encode(image_data)

# # Convert the base64 data to a string for inserting into the database
# image_str = base64_data.decode('utf-8')

# # Insert the base64 encoded data into the database table using an SQL INSERT statement
# cursor.execute("INSERT INTO Events (Event_Id, Event_Name, Event_Picture) VALUES (?, ?, ?)", 
#                (event_id, event_name, image_str))

In [2]:
# # Execute SELECT statement to retrieve image binary data
# cursor.execute("SELECT Event_Picture FROM Events WHERE Event_Id = 'your_event_id'")
# result = cursor.fetchone()

# # Decode the binary data using base64 encoding
# image_data = base64.b64decode(result[0])

# # Save the image to a file
# with open('event_picture.jpg', 'wb') as f:
#     f.write(image_data)

In [12]:
# Insert sample event data with the new columns
events = [
    {
        'Event_Id': '2',
        'Club_Id': '2',
        'Event_Name': 'Music Festival',
        'Event_Picture': 'music_festival.jpg',
        'Event_Type': 'Festival',
        'Event_Day': 'Saturday',
        'Event_Date': '2023-07-15',
        'Event_Start_Time': '15:00',
        'Event_End_Time': '23:00',
        'Event_Venue': 'Central Park',
        'Event_Mail': 'musicfestival@example.com',
        'Event_Phone_No': '1234567890',
        'Event_Budget': 100000,
        'Event_Ticket': '500',
        'Event_url': 'https://musicfestival.com',
        'Event_Status': 'APPROVED',
        'Event_Details': 'Annual music festival featuring popular artists and bands'
    }
]

for event in events:
        # Decode the image from base64
    #image = base64.b64decode(event['Event_Picture'])
    # Insert the event data into the table
    cursor.execute("INSERT INTO Events (Event_Id, Club_Id, Event_Name, Event_Picture, Event_Type, Event_Day, Event_Date, Event_Start_Time, Event_End_Time, Event_Venue, Event_Mail, Event_Phone_No, Event_Budget, Event_Ticket, Event_url, Event_Status, Event_Details) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)",
                   event['Event_Id'], event['Club_Id'], event['Event_Name'], event['Event_Picture'], event['Event_Type'], event['Event_Day'], event['Event_Date'], event['Event_Start_Time'], event['Event_End_Time'], event['Event_Venue'], event['Event_Mail'], event['Event_Phone_No'], event['Event_Budget'], event['Event_Ticket'], event['Event_url'], event['Event_Status'], event['Event_Details'])
    
# Commit the changes to the database
cnxn.commit()

In [14]:
clubs = [
    {
        'Club_Id': '1',
        'Club_Name': 'Club 1',
        'Club_Type': 'Type 1',
        'Club_Faculty_Cordinator_Name': 'Coordinator 1',
        'Club_Mail': 'club1@mail.com',
        'Club_Activity': 'Activity 1',
        'Club_Total_Events': 5,
        'Club_Details': 'Details 1',
        'Club_Photos_Viwer': 'https://www.club1photos.com',
        'Club_Picture': '<base64-encoded image>'
    }

]

for club in clubs:
    # Decode the image from base64
    # image = base64.b64decode(club['Club_Picture'])
    # Insert the club data into the table
    cursor.execute("INSERT INTO Clubs (Club_Id, Club_Name, Club_Type, Club_Faculty_Cordinator_Name, Club_Mail, Club_Activity, Club_Total_Events, Club_Details, Club_Photos_Viwer, Club_Picture) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)",
                    club['Club_Id'], club['Club_Name'], club['Club_Type'], club['Club_Faculty_Cordinator_Name'], club['Club_Mail'], club['Club_Activity'], club['Club_Total_Events'], club['Club_Details'], club['Club_Photos_Viwer'],club['Club_Picture'])
# Commit the changes to the database
cnxn.commit()

In [15]:
user_students = [
    {
        'User_Student_Name': 'John Doe',
        'User_Student_Id': 'S001',
        'User_Student_Type': 'Student',
        'User_Student_Club_Id': '1'
    }

]

for user_student in user_students:
# Insert the user student data into the table
    cursor.execute("INSERT INTO User_Student (User_Student_Name, User_Student_Id, User_Student_Type, User_Student_Club_Id) VALUES (?, ?, ?, ?)",
                    user_student['User_Student_Name'], user_student['User_Student_Id'], user_student['User_Student_Type'], user_student['User_Student_Club_Id'])
# Commit the changes to the database
cnxn.commit()

In [16]:
user_faculties = [
    {
        'User_Faculty_Name': 'Dr. John Smith',
        'User_Faculty_Id': 'F001',
        'User_Faculty_Type': 'Faculty',
        'User_Faculty_Club_Id': '1'
    }
]

for user_faculty in user_faculties:
# Insert the user faculty data into the table
    cursor.execute("INSERT INTO User_Faculty (User_Faculty_Name, User_Faculty_Id, User_Faculty_Type, User_Faculty_Club_Id) VALUES (?, ?, ?, ?)",
    user_faculty['User_Faculty_Name'], user_faculty['User_Faculty_Id'], user_faculty['User_Faculty_Type'], user_faculty['User_Faculty_Club_Id'])
# Commit the changes to the database
cnxn.commit()

In [17]:
user_student_welfares = [
    {
        'User_Student_Welfare_Name': 'John Doe',
        'User_Student_Welfare_Id': 'W001',
        'User_Student_Welfare_Type': 'Student Welfare',
        'User_Student_Welfare_Club_Id': '1'
    }

]

for user_student_welfare in user_student_welfares:
# Insert the user student welfare data into the table
    cursor.execute("INSERT INTO User_Student_Welfare (User_Student_Welfare_Name, User_Student_Welfare_Id, User_Student_Welfare_Type, User_Student_Welfare_Club_Id) VALUES (?, ?, ?, ?)",
    user_student_welfare['User_Student_Welfare_Name'], user_student_welfare['User_Student_Welfare_Id'], user_student_welfare['User_Student_Welfare_Type'], user_student_welfare['User_Student_Welfare_Club_Id'])
# Commit the changes to the database
cnxn.commit()

In [18]:
cursor.close()
cnxn.close()